*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title p{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
    color: #f55f8d;
}
.title h2{
    font-size: 52px;
    font-weight: 700;
    color: #262626;
    margin-bottom: 20px;
}
.section_inner{
    padding-top: 150px;
}
.p_first_of_type{
    font-size: 65px;
    font-weight: 800;
    color: #f55f8d;
    line-height: 1;
}
.p_last_of_type{
    color: #262626;
    font-size: 18px;
}

/* start header */

header{
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid red; */
}
.header_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_content nav{
    display: flex;
    align-items: center;
} 
.header_content nav ul{
    display: flex;
    align-items: center;
    margin: 0;
} 
header .header_content li  {
    text-decoration: none;
    list-style: none;
    padding: 55px 10px;
    /* border: 1px solid green; */
    margin-right: 20px;
    cursor: pointer;
}
.header_content a{
    color:black;
    transition: all 0.3s;
}
.header_content a:hover{
    color: #f55f8d;
}
.header_content a:hover span{
    animation: upToDown 0.3s forwards;
}
header a span{
    font-size: 16px;
    text-decoration: none;
    list-style: none;
}
header .fa-chevron-down{
    font-size: 10px;
    text-align: center;
}
.btn_gradient{
    text-transform: uppercase;
    border-radius: 30px;
    border: 1px solid transparent;
    font-size: 15px;
    padding: 20px 35px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
    transition: 0.3s;
}
.btn_gradient:hover{
    background-position: right center;
}

/* end header */

/* start carousel */

.carousel{
    padding-top: 150px;
    overflow: hidden;
    background-image: url(./image/pic2.png);
    background-position: top;
    background-size: 100%;
}
.carousel_content{
    display: flex;
    align-items: center;
}
.carousel_left{
    width: 40%;
}

.article p{
    /* font-size: 15px; */
    margin-bottom: 15px;
}
.carousel_right{
    width: 60%;
}
.carousel_content ul{
    margin-bottom: 20px;
}
.carousel_content li{
    text-decoration: none;
    list-style: none;
}
.carousel_content i{
    font-size: 20px;
    color: white;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    margin-right: 10px;
    margin-bottom: 10px;
}
.carousel_banner {
    width: 570px;
    margin-left: 150px;
}

/* end carousel */

/* start services */

.services{
    background-image: url(./image/bg2.png);
    background-size: cover;
    background-position: top cover;
    text-align: center;
    
}
.services_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}
.services_item{
    background: white;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 30px 45px;
    border-radius: 0.5rem;
    transform: translateY(0px);
    transition: 0.5s;
}
.services_item:hover{
    transform: translateY(-20px);
}
.services_item img{
    width: 215px;
}
.services_item h3{
    color: #262626;
    margin: 15px 0px;
}

/* end services */

/* start aboutUs */
.aboutUs{
    background-image: url(./image/bg15.png);
    background-size: 100%;
    background-position: center right;
    background-repeat: no-repeat;
    padding-bottom: 85px;
    overflow: hidden;
}
.aboutUs_content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.aboutUs_left{
    width: 60%;
    position: absolute;
    left: -17%;
}
.aboutUs_left img{
    width: 100%;
    border-radius: 0px 100px 100px 0px;
}
.aboutUs_right{
    width: 50%;
}
.aboutUs_right p{
    margin-bottom: 15px;
}
.aboutUs_right ul{
    margin-bottom: 30px;
}
.aboutUs_right li{
    list-style: none;
}
.aboutUs_right i{
    font-size: 20px;
    color: #f55f8d;
    margin-right: 10px;
    vertical-align: middle;
} 

/* end aboutUs */

/* start number */

.number{
    background-image: url(./image/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
.number_content{
    display: flex;
    justify-content: space-around;
}
.number_item{
    width: 25%;
}
.number_item i{
    font-size: 45px;
    color: white;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 15px;
}

/* end number */

/* start features */
.features{
    background-image: url(./image/bg2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 0;
    overflow: hidden;
}
.features_content{
    display: flex;
}
.features_left, .features_right{
    width: 50%;
}
.features_bg{
    display: flex;
    align-items: center;
    padding: 30px;
    background-color: white;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.features_bg::after {
    content: "";
    position: absolute;
    background-image: linear-gradient(
      to right,
      #f55f8d 0,
      #f8ae56 51%,
      #f55f8d 100%
    );
    background-size: 200%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 1s;
    color: white;
  }
.features_bg:hover::after{
    opacity: 1;
}
.features_bg:hover div, .features_bg:hover i , 
.features_bg:hover h3, .features_bg:hover p{
    color: white;
    z-index: 1;
}
.features_item{
    padding: 0px 50px 30px 0px;
    position: relative;
}
.features_item div{
    padding-left: 25px;
    /* z-index: 1;    */
}
.features_item i{
    font-size: 80px;
    line-height: 1;
    color: #f55f8d;
}
.features_item h3{
    font-weight: 800;
    color: #262626;
    font-size: 1.5rem;
}
.features_item p{
    margin-bottom: 1rem;
}
.features_special{
    padding: 0 0 30px 50px;
}
.features_banner{
    margin-right: -80px;
}
.features_banner img{
    max-width: 100%;
    animation: move2 5s infinite;
}

/* end features */

/* start portfolio */

.portfolio{
    background-image: url(./image/bg17.png);
    background-size: cover;
    background-position: top-center;
    text-align: center;
}
.portfolio_content{
    display: grid;
    grid-template-columns: repeat(2,1fr) 1.5fr;
    gap: 35px;
}
.portfolio_item{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.portfolio_item img{
    width: 100%;
    height: 100%;
}
.portfolio_item1{
    grid-column: 1/span 2;
}
.portfolio_item5{
    grid-column: 1/span 2;
}
.portfolio_item6{
    grid-column: 3/4;
    grid-row: 2/4;
}
.portfolio_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
}
.portfolio_item:hover .portfolio_overlay{
    opacity: 1;
}
.portfolio_icon{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 10px;
    transform: translate(20px, -20px);
    transition: 0.5s;
}
.portfolio_item:hover .portfolio_icon{
    transform: translateY(0);
}
.portfolio_title{
    position: absolute;
    bottom: 10px; 
    left: 30px;  
    text-align: left;
    transform: translateY(150px);
    transition: 0.5s;
    color: #fff;
}
.portfolio_item:hover .portfolio_title{
    transform: translateY(0);
}
.portfolio_item::after{
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
    );
    transform: skewX(-25deg);
    transition: all 0.5s;
}
.portfolio_item:hover::after {
    left: 125%;
}
/* end portfolio */

/* start plan */

.plan {
    background-image: url(./image/bg16.png);
    background-position: center;
    background-size: cover;
    text-align: center;
}
.plan_title{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 40px;
}
.plan_item{
    background: #fff;
    box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
    padding: 35px 60px;
    border: 3px solid transparent;
    border-radius: 8px;
    border-image: 100 round;
    transition: 0.5s;
}
.plan_item:hover {
    border-image: url(./image/br.png) 1 round;
}
.plan_item h3{
    font-weight: 700;
    color: #262626;
    font-size: 2rem;
}
.plan_item img{
    width: 125px;
}
.plan_item span{
    color: #f8ae56;
    font-size: 50px;
    font-weight: 800;
}
.plan_item p{
    font-size: 18px;
    color: #262626;
    padding: 5px 0;
    font-weight: 700;
}
.plan_item ul {
    text-decoration: none;
    list-style: none;
    border-top: 1px solid #e1e1f0;
    font-weight: 400;
    padding: 15px 0; 
    text-align: left;
}
.plan_item li{
    padding: 5px 0;
}
.plan_item i{
    font-size: 12px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    border-radius: 50%;
    text-align: center;
    background: #feeff3;
    color: #f55f8d;
    margin-right: 15px;
}
/* end plan */

.testimonial{
    text-align: center;
    background-image: url(./image/bg17.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.swiper {
    width: 600px;
    height: 300px;
  }
  
/* end testimonial */

/* start blog */

.blog{
    background-image: url(./image/bg16.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding-bottom: 50px;
}
.blog_item{
    text-align: left;
    background: rgba(245,95,141,.1);
    border-radius: 8px;
    margin: 0px 15px;
}
.blog_item img{
    border-radius: 10px;
}
.blog_header{
    position: relative;
}
.blog_header p{
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    background-size: 200%;
    position: absolute;
    padding: 10px 20px;
    left: 15px;
    bottom: -30px;
}
.blog_body{
    padding: 30px 15px 20px 15px;
    line-height: 1.4;
    margin-bottom: 20px;
}
.blog_footer{
    display: flex;
    text-transform: uppercase;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    border-top: 1px solid rgba(0,0,0,.05);
}
.blog_footer i {
    font-size: 22px;
    color: #f55f8d;
    vertical-align: sub;
}
.blog_footer p:first-of-type{
    margin-right: 20px;
}
.blog_footer p:first-of-type span{
    color: #f55f8d;
}

/* end blog */

/* start footer */
footer{
    background-image: url(./image/bg4.png);
    background-color: #0e1b1f;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    display: block;
    height: auto;
    font-size: 15px;
    position: relative;
    background-size: contain;
}
footer::before{
    content: "";
    background-image: url(./image/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.footer_top{
    padding: 50px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    background-image: url(./image/pattern3.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    position: relative;
    display: flex;
}
.footer_form, .footer_text{
    width: 50%;
}
.footer_form form{
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}
.footer_form input{
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #fff;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid #fff;
    flex: 1 1 auto;
}
.footer_form button{
    padding: 20px 35px;
    font-size: 20px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-color: transparent;
    border-radius: 0 0.5rem 0.5rem 0;
    color: #fff;
    cursor: pointer;
}
.footer_text h2{
    font-size: 30px;
    color: #262626;
}
.footer_bottom{
    display: flex;
    padding: 70px 0px;
    position: relative;
}
.footer_item{
    width: 25%;
}
.footer_item i{
    margin-right: 10px;
}
.footer_item li {
    padding: 10px 0;
}
.footer_item a {
    color: #636363;
    font-size: 16px;
    transition: all 0.5s;
}
.footer_item a:hover{
    color: #fff;
    list-style: none;
}
.footer_item h3 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    color: #fff;
    position: relative;
}
.footer_item h3::before{
    width: 15px;
}
.footer_item h3::after{
    width: 45px;
    left: 20px;
}
.footer_item h3::before, .footer_item h3::after{
    content: "";
    position: absolute;
    bottom: 0;
    height: 4px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    border-radius: 20px;
    background-size: 200%;
}
.footer_contact li{
    display: flex;
    align-items: center;
    padding: 10px 0px;
}
.footer_contact i{
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
    display: block;
}
.footer_bottom ul li{
    list-style: none;
}
.footer_copyright{
    background-color: #1f343b;
}
.footer_content {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}
.footer_left span{
    color: #f55f8d;
}
.footer_right i{
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: #36494f;
    text-align: center;
    color: #fff;
}

/* end footer */

@keyframes upToDown {
    49% {
      transform: translateY(100%);
    }
    50% {
      opacity: 0;
      transform: translateY(-100%);
    }
    51% {
      opacity: 1;
    }
}

@keyframes move2 {
    0% {
        transform: rotate(1deg) translate(2px,2px)
    }

    50% {
        transform: rotate(-1deg) translate(-2px,-2px)
    }

    100% {
        transform: rotate(1deg) translate(2px,2px)
    }
}
