.testimonial-content {
    max-width: 1199px;
    margin: auto;
    text-align: center;
    padding: 100px 0;
}
.testimonial-thumbs .testimonial-pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 5px;
    position: relative;
    z-index: 2;
    background-color: #f55f8d;
}
  
.testimonial-thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
}
.testimonial-comment {
    min-height: 300px;
    width: 100%;
}
.testimonial-comment .swiper-wrapper {
    padding-bottom: 20px;
}
.testimonial-thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition: all 0.5s;
}
.testimonial-pic::after, .testimonial-pic::before{
    content: "";
    background: #f55f8d;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.swiper-slide-thumb-active .testimonial-pic::after, .swiper-slide-thumb-active .testimonial-pic::before{
    opacity: 1;
}
.testimonial-pic::after{
    height: 10px;
    width: 10px;
    bottom: 0;
}
.testimonial-pic::before{
    height: 15px;
    width: 15px;
    bottom: 30px;
}
.swiper-slide-thumb-active .testimonial-pic .shape-bx{
    opacity: 1;
}
.testimonial-pic .shape-bx{
    position: relative;
    height: 42px;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 18px;
    background: #f55f8d;
    opacity: 0;
}
.testimonial-pic .shape-bx::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(./image/pattern12.png);
    background-position: bottom;
    background-size: contain;
    height: 100%;
    width: 100%;
    transition: all 1s;
}
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 40px;
}
.testimonial-text {
    padding: 30px;
    text-align: center;
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
    margin: 20px 100px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
}
.testimonial-text i {
    font-size: 80px;
    position: absolute;
    top: 27px;
    left: 230px;
    color: #f55f8d;
}
.testimonial-text .testimonial_position{
    color: #f55f8d;
}
  